    listen 80;
    listen [::]:80;
    listen 443 default_server ssl;
    listen [::]:443 default_server ssl;
    server_name _;

    ssl_certificate     /cert/${FIRST_VIRTUAL_HOST}.crt;
    ssl_certificate_key /cert/${FIRST_VIRTUAL_HOST}.key;
