    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    server_name _;

    ssl_certificate     /cert/${FIRST_VIRTUAL_HOST}.crt;
    ssl_certificate_key /cert/${FIRST_VIRTUAL_HOST}.key;
