    listen 443 ssl;
    listen [::]:443 ssl;
    server_name "${FIRST_VIRTUAL_HOST}";
    ssl_certificate     /cert/${FIRST_VIRTUAL_HOST}.crt;
    ssl_certificate_key /cert/${FIRST_VIRTUAL_HOST}.key;
