server {

    include include.d/ssl.conf;
    
    root ${NGINX_DOCUMENT_ROOT};

    location / {
        proxy_pass ${NGINX_PROXY_PASS};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

	# WebSocket proxy
	proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_read_timeout 86400;
    }
}
